{% extends "header.html" %}
{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
{% block content %}
        <br/><br/><br/><br/><br/><br/>
        Welcome to OPT
        {{ user.get_username }}
  {% endblock content %}
