{% extends "header.html" %}
{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
{% block content %}
        <br/><br/><br/><br/><br/><br/>
        <section class="content">
            <div class="container">
                <div class="col-md-5 col-lg-offset-1 col-md-offset-1 padding-right-none xs-padding-left-none sm-padding-left-none xs-margin-top-30">
                    <div class="contact_wrapper information_head">
                        <h3 class="margin-bottom-25 margin-top-none">Login</h3>
                        <form method="POST" action="/login/">
                            {% csrf_token %}
                            <div class="form_contact margin-bottom-20">
                                <div id="result"></div>
                                <fieldset id="contact_form">
                                    <input name="username" class="form-control margin-bottom-25" placeholder="Username" required="True" />
                                    <input type="password" name="password" class="form-control margin-bottom-25" placeholder="Password" required="True" />
                                    <input id="submit_btn" type="submit" value="Sign-In">
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
                {% if show_signup%}
                    <form action="/signup">
                        <div class="col-md-5 col-lg-offset-1 col-md-offset-1 padding-right-none xs-padding-left-none sm-padding-left-none xs-margin-top-30">
                            <div class="contact_wrapper information_head">
                                <h3 class="margin-bottom-25 margin-top-none">Create New Account</h3> <input id="submit_btn" type="submit" value="Sign-Up">
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </section>
  {% endblock content %}
