{% load staticfiles %}{% load copyright_disclaimer %}<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="images/favicon.ico">
        <title>Outdoor Power Trader - Listings</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
        <!-- Custom styles for this template -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" type="text/css" media="screen" />
        <link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery.selectbox.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/mobile.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}" media="screen" />
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/ts.css' %}" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
    </head>
    <body>
        <!--Header Start-->
        <header  data-spy="affix" data-offset-top="1" class="clearfix">
            <div class="bottom-header" >
                <div class="container">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                <a class="navbar-brand" href="index.html"><span class="logo"><span class="primary_text"> ---- project M ----    </span> </span></a> </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav pull-right">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="index.html">Listings</b></a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li class="dropdown active"><a href="/login"><i class="fa fa-user"> </i> Dealer Login</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </header>
        <br/><br/><br/><br/><br/><br/>


        <section class="content">
            <div class="container">
                <div class="col-md-5 col-lg-offset-1 col-md-offset-1 padding-right-none xs-padding-left-none sm-padding-left-none xs-margin-top-30">
                    <div class="contact_wrapper information_head">
                        <h3 class="margin-bottom-25 margin-top-none">Signup </h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form_contact margin-bottom-20">
                                <div id="result"></div>
                                <fieldset id="contact_form">
                                    <input name="username" class="form-control margin-bottom-25" placeholder="Username" required />
                                    <input type="password" name="password" class="form-control margin-bottom-25" placeholder="Password" required="True" />
                                    <input type="password" name="reenter_password" class="form-control margin-bottom-25" placeholder="Reenter Password" required="True" />
                                    <input type="text" name="dealer_name" class="form-control margin-bottom-25" placeholder="Dealer Name"/>
                                    <input type="text" name="address" class="form-control margin-bottom-25" placeholder="Address"/>
                                    <input type="text" name="city" class="form-control margin-bottom-25" placeholder="City"/>
                                    <input type="text" name="state" class="form-control margin-bottom-25" placeholder="State"/>
                                    <input type="text" name="zipcode" class="form-control margin-bottom-25" placeholder="Zipcode"/>
                                    <input type="text" name="phone" class="form-control margin-bottom-25" placeholder="Phone"/>
                                    <input type="email" name="email" class="form-control margin-bottom-25" placeholder="Email"/>

                                    
                                    <input id="submit_btn" type="submit" value="Create">
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
